* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background-color: #242424;
}

button {
  background-color: tomato;
  color: white;
  padding: 10px;
  width: 100px;
  border: none;
}

span {
  display: flex;
  gap: 10px;
}
